* {
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}
body {
    background-color: #ededed;
}
div {
    padding: 50px;
    margin: 40px;
    box-shadow: 0px 0px 12px #ccc;
    background-color: #fff;
    font-size: 30px
}